<footer class="footer">
    <div class="f-socials">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="f-info-info">
        &copy;Wanderlust private limited
    </div>
    <div class="f-info-pages">
        <a href="/privacy" class="info-footer">Privacy</a>
        <a href="/terms" class="info-footer">Terms</a>
    </div>
</footer>