<nav class="navbar navbar-expand-md bg-body-tertiary-light border-bottom sticky-top ">
  <div class="container-fluid contain">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/index">All listings</a>
        <a class="nav-link" href="/index/new">Add new listings</a>
      </div>
    </div>
  </div>
</nav>