<%layout("layouts/boilerplate") %>
    <h1>All listings</h1>
    <br>
    
        <div class="row g-4">
            <% for(list of lists){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card h-100 " style="width: 18rem;">
                <div class="image-cards h-100">
                   <% if(list.image.url){%>
                        <img src="<%=list.image.url%>" class="card-img-top" alt="..."> 
                    <%}else{%>
                        <div class="card-img-placeholder bg-light"></div> 
                   <% }%>
                    
                </div>
                <div class="card-body">
                    <p><%=list.title %></p>
                </div>
            </div>
            </div>
            <br><br>
        <% } %>
        </div>
       
