<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
=======
<%layout("layouts/boilerplate") %>
>>>>>>> 13abb03 (styling 1)
    <form action="/new" method="post">
        <input type="text" placeholder="write your title" name="listing[title]"/>
        <br><br>
        <textarea placeholder="write your description" name="listing[description]"></textarea><br><br>
        <input type="number" placeholder=" price" name="listing[price]"/><br><br>
        <input type="text" placeholder="write your country" name="listing[country]"/><br><br>
        <input type="text" placeholder="write your location" name="listing[location]"/><br><br>
        <button>add in listings</button><br><br>
<<<<<<< HEAD
    </form>
</body>
</html>
=======
    </form>
>>>>>>> 13abb03 (styling 1)
