<%layout("layouts/boilerplate") %>
    <form action="/new" method="post">
        <input type="text" placeholder="write your title" name="listing[title]"/>
        <br><br>
        <textarea placeholder="write your description" name="listing[description]"></textarea><br><br>
        <input type="number" placeholder=" price" name="listing[price]"/><br><br>
        <input type="text" placeholder="write your country" name="listing[country]"/><br><br>
        <input type="text" placeholder="write your location" name="listing[location]"/><br><br>
        <button>add in listings</button><br><br>
    </form>